{% extends "base.html" %}
{% block content %}
    
      <div class="gridster">
        <ul>


          <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
            <div style="background-color:#ffaa00" data-id="mode" data-view="Stmode" data-title="Current Mode" data-page="3" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="4" data-col="5" data-sizex="2" data-sizey="1">
            <div data-id="clock" data-view="Clock" data-title="Clock"></div>
          </li>

          <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
            <div data-id="weather" data-view="Stweather"></div>
          </li>

          



          <!-- Basement lights -->
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="stswitch" data-view="Stswitch" data-title="All on" data-device="Basement All On" data-iconm="circle-o-notch"></div>
          </li> 

          <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="stswitch" data-view="Stswitch" data-title="All off" data-device="Basement All OFF" data-iconm="circle-o-notch"></div>
          </li> 



          <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="changepage" data-view="Changepage" data-icon="bars" data-title="Dimmers" data-page="4" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:Blue" data-id="changepage" data-view="Changepage" data-icon="bars" data-title="Switches" data-page="2" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:Orange" data-id="changepage" data-view="Changepage" data-icon="bars" data-title="Sensors" data-page="6" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:Red" data-id="changepage" data-view="Changepage" data-icon="lightbulb-o" data-title="Hues" data-page="8" data-stagger="false" data-fasttransition="true"></div>
          </li>




        </ul>
    </div>
 

 

    <div class="gridster">
        <ul>
          

          <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="back" data-view="Changepage" data-icon="home" data-title="Home" data-page="1" data-stagger="false" data-fasttransition="true"></div>
          </li>
        </ul>
    </div>
  

  
      <div class="gridster">
        <ul>
          
         

          <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
              <div style="background-color:#6600CC" data-id="back" data-view="Changepage" data-icon="home" data-title="Home" data-page="1" data-stagger="false" data-fasttransition="true"></div>
          </li>

        </ul>
      </div>


      <div class="gridster"> <!-- Dimmer Groups Page - PAGE 4 -->
        <ul>
          

          <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="changepage" data-view="Changepage" data-icon="bars" data-title="All Dimmers" data-page="5" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="back" data-view="Changepage" data-icon="home" data-title="Home" data-page="1" data-stagger="false" data-fasttransition="true"></div>
          </li>


        </ul>
    </div>

    <div class="gridster"> <!-- ALL DIMMERS PAGE - PAGE 5 -->
        <ul>
          

          <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="changepage" data-view="Changepage" data-icon="bars" data-title="Dimmers" data-page="4" data-stagger="false" data-fasttransition="true"></div>
          </li>

          <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" data-id="back" data-view="Changepage" data-icon="home" data-title="Home" data-page="1" data-stagger="false" data-fasttransition="true"></div>
          </li>
        </ul>
    </div>


{% endblock %}
